@font-face {
  font-family: SF;
  src: url(./SanFranciscoText-Regular.otf) format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SF;
  src: url(./SanFranciscoText-Semibold.otf) format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: SF;
  src: url(./SanFranciscoText-Medium.otf) format('opentype');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: SF;
  src: url(./SanFranciscoText-Light.otf) format('opentype');
  font-weight: lighter;
  font-style: normal;
}
