@import 'reset';
@import 'vars';

html {
  /* color: #901947; */
  color: #373737;
}

body {
  background-color: white;
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-family: SF;
}

h1 { font-size: 3rem; }

.btn_disabled { opacity: .5; }

.hide { visibility: hidden; }

.bold { font-weight: bold; }

.play_btn_div {

  & button {
    font-size: 2.5rem;
    color: #901947;
  }
}

.game_field {
  width: 100vw;
  height: 100vh;
}

.highscores {
  display: flex;
  flex-direction: column;
  width: 30rem;
  position: absolute;
  bottom: 1%;
  right: 1%;

  & h1 {
    padding: 1.3rem 2rem;
    border-radius: 20rem;
    font-size: 2.3rem;
    background-color: white;
    text-align: center;
    z-index: -997;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .12);
  }

  & ol {
    height: 19rem;
    background-color: white;
    border-radius: 1rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
    margin-top: -3rem;
    z-index: -999;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .12);
  }
}

.highscore_list_item {
  display: flex;
  justify-content: space-around;

  & .highscore_name {
    width: 10rem;
  }
}

.controller_restart_btn {
  background-color: white;
  color: #901947;
  font-size: 2rem;
  width: 15rem;
  border-bottom: .2rem solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin: 0 auto;
}

.progress_bar {
  left: 4%;
  width: 93vw;
  height: .6rem;
  margin-bottom: .5rem;
  background-color: white;
}

.progress_bar[value]::-webkit-progress-bar {
  background-color: #fee0ec;
}

.progress_bar[value]::-webkit-progress-value {
  background-color: white;
  border-radius: 10rem;
}

.general_btn_layout {
  padding: 1rem 3rem;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  background-color: #901947;
  border-radius: 3rem;
  position: absolute;
  align-self: center;
  border: none;
}

.win_lose_btn {
  padding: 1rem 3rem;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  background-color: #901947;
  border-radius: 3rem;
  align-self: center;
  border: none;
}

.mobile_btn_pos { bottom: calc(4% + -4rem); }

.pc_btn_pos {
  bottom: 4%;
  border: none;
}

.won_drink { background-color: #f7e31b; }

.main_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.svg_character {
  height: 45vh;
  width: 50vw;
}

.svg_character_controller { height: 22vh; }

.character {
  display: flex;
  justify-content: center;
}

.color_div {
  margin: 2rem 0 3rem;
  height: 4vh;

  & div {
    display: flex;
    justify-content: space-between;
    width: 50vw;
  }
}

.previews {
  width: 97vw;
  height: 36vh;
  background-color: white;
  border-radius: 1rem;
  margin-top: -3rem;
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .12);
  overflow: scroll;

  & .preview_imgs {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-start;
    padding: 0 1rem;
    flex-wrap: wrap;
    flex-grow: 1;
    min-width: 25%;
  }
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.icons_div {
  display: flex;
  width: 97vw;
  height: 8vh;
  border-radius: 3rem;
  z-index: 9;
  background-color: white;
  box-shadow: 0 .1rem .4rem rgba(0, 0, 0, .15);
  align-items: center;
  justify-content: space-around;
}

.icon { opacity: .4; }

.currentIcon { opacity: 1; }

.current_skintone { background-color: #ffdfec; }

.next {
  position: absolute;
  top: 4rem;
  right: 4rem;
}

.Pink-oval { opacity: .1; }

.skinTone_div {
  margin: .5rem;
  width: 27vw;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}

.skinTone_head {
  width: 6.2rem;
  height: 6.2rem;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;

  & img { margin-top: 1.5rem; }
}

.partner_div_height { height: 65vh; }

.partners_div {
  margin-top: 5rem;
  margin-left: 0;
}

.partner_page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
}

.vehicle_name {
  margin-top: -10rem;
  margin-bottom: 9rem;
}

.back_btn {
  align-self: flex-start;
  margin-left: 3rem;
  top: 4%;
  position: absolute;
}

.win_lose_screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
}

.win_lose_text_div {
  width: 80vw;
  margin-bottom: 10rem;
}

.win_lose_greeting { margin: 2.5rem 0; }

.win_lose_button {
  margin-top: 6vh;
  margin-bottom: 2vh;
  padding: 1rem 4rem;
  text-decoration: none;
  background-color: #901947;
  color: white;
  font-size: 2rem;
  border-radius: 3rem;
  border: none;
}

.win_lose_second_par { margin-top: 4vh; }

.vehicle_name_form {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.vehicle_name_input {
  margin-top: -10rem;
  margin-bottom: 17rem;
  text-decoration: none;
  border: none;
  background: none;
  width: 20rem;
  font-size: 3rem;
  border-bottom: .2rem solid #9b9b9b;
  font-family: SF;
  font-weight: lighter;

  & ::placeholder { color: #9b9b9b; }
}

.vehicle_name_input:focus { outline: none; }

.vehicle_text {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  width: 100vw;
  align-items: center;
}

.controller_div {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5vh;

  & .controller_top_buttons {
    width: 100vw;
    display: flex;
    justify-content: space-between;

    & p {
      width: 75vw;
      margin: 0 auto;
      margin-top: 10vh;
    }
  }
}

.controller_share {
  position: absolute;
  right: 10%;
}

.vehicles_title { margin-top: 10vh; }

.partners_page_div {
  display: flex;
  align-items: center;
  width: 90vw;
  justify-content: space-around;
  margin: 0 auto;
}

.character_finish_btn {
  position: absolute;
  right: 5%;
  top: 4%;
}

.win_lose_info {
  cursor: pointer;
}

.win_lose_btns_div {
  width: 33rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.first_info_content_div {
  width: 86vw;
  margin: 0 auto;
  margin-top: 10vh;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.first_info_title_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6rem;
  justify-content: space-between;

  & h1 { font-size: 3.5rem; }
}

.wonDrink_content_div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95vh;
  padding-top: 10vh;
  width: 80vw;
  align-items: center;
  margin: 0 auto;

  & .wonDrink_info {
    line-height: 3.5rem;
    font-size: 1.4rem;
    text-align: center;
  }

  & .wonDrink_instructions {
    font-weight: bold;
    font-size: 1.3rem;
  }
}

@media (width >= 530px) {

  .first_info_paragraph_div { width: 37rem; }

  .win_lose_text_div { width: 40rem; }
}

@media (width >= 462px) {

  .skinTone_div { width: 21vw; }
}

@media (width >= 600px) {

  .skinTone_div { width: 17vw; }
}

@media (width >= 700px) {

  .skinTone_div { width: 10rem; }
}
